{:duct.database/sql
 {:adapter "postgresql"
   :port-number #duct/env ["DB_PORT" :or "5432"]
   :server-name #duct/env ["DB_HOST" :or "localhost"]
   :database-name "filmdb"
   :username "filmuser"
   :password #duct/env ["DB_PASSWORD" :or "password"]}
}
